In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\blubirch\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\blubirch\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\blubirch\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\blubirch\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\blubirch\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\blubirch\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Combined_Jobs_Final.csv")

In [4]:
df.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [5]:
df.shape

(84090, 23)

In [6]:
df[["Title","Job.Description"]]

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...
3,Server @ Teriyaki House,● Serve food/drinks to customers in a profess...
4,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,"Located at the heart of Hollywood, we are one ..."
...,...,...
84085,Book Keeper @ National Japanese American Histo...,NJAHS stands for National Japanese American Hi...
84086,Kitchen Staff/Chef @ Emporio Rulli,Weekend Brunch Line Cook \r\n● Other shifts ma...
84087,Driver @ Onigilly,ONIGILLY (Japanese rice ball wraps) seeks outg...
84088,Line Cook @ Machka Restaurants Corp.,We are a popular Mediterranean restaurant in F...
84089,Cashier @ Kazoo Restaurant,We are looking for a cashier! \r\n\r\n ● Take...

In [7]:
df["Title"][:10]

0                                 Server @ Tacolicious
1                     Kitchen Staff/Chef @ Claude Lane
2                 Bartender @ Machka Restaurants Corp.
3                              Server @ Teriyaki House
4          Kitchen Staff/Chef @ Rosa Mexicano - Sunset
5                Receptionist @ Mind of Beauty Day Spa
6                        Server @ Roy's Woodland Hills
7                                Driver @ KoJa Kitchen
8        Assistant Store Manager @ King's Food Markets
9    Store Associate - Retail Sales (Customer Servi...
Name: Title, dtype: object

In [8]:
df["Title"].unique()

array(['Server @ Tacolicious', 'Kitchen Staff/Chef @ Claude Lane',
       'Bartender @ Machka Restaurants Corp.', ...,
       'Kitchen Staff/Chef @ Emporio Rulli',
       'Line Cook @ Machka Restaurants Corp.',
       'Cashier @ Kazoo Restaurant'], dtype=object)

In [9]:
df["Title"].nunique()

41861

In [10]:
df["Job.Description"][:10]

0    Tacolicious' first Palo Alto store just opened...
1     \r\n\r\nNew French Brasserie in S.F. Financia...
2    We are a popular Mediterranean wine bar and re...
3     ● Serve food/drinks to customers in a profess...
4    Located at the heart of Hollywood, we are one ...
5    We are a group of professional massage therapi...
6     ● Serve food/drinks to customers in a profess...
7    KoJa Kitchen:\r\nPART-TIME LOCAL HELP NEEDED W...
8    \r\nAssistant Store Manager\r\n\r\nNow Hiring ...
9    Hiring Event Details\r\nStore Associate\r\n\r\...
Name: Job.Description, dtype: object

In [11]:
df["Job.Description"].nunique()

59269

In [12]:
df = df.sample(n=1000, random_state=42)
df.shape

(1000, 23)

In [13]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Blubirch\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Blubirch\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
ps = PorterStemmer()

In [15]:
def cleaning(txt):
    cleaned_txt = re.sub(r'[^a-zA-z0-9\s]', '', txt)
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    stemming = [ps.stem(word) for word in tokens if word not in stopwords.words("english")]
    
    return " ".join(stemming)

In [16]:
cleaning("This is word and digit 0987 and loving moving driving %*$@&& \r\n\r\r\r")

'word digit 0987 love move drive'

In [17]:
df["Title"] = df["Title"].astype(str).apply(lambda x:cleaning(x))
df["Title"][0:5]

64119                       site director knowledg univers
35827                          administr assist officeteam
72100                     account manag chi payment system
46355    outsid wholesal sale rep parttim river front c...
34166    custom servic rep help peopl hear loss captioncal
Name: Title, dtype: object

In [18]:
df["Job.Description"] = df["Job.Description"].astype(str).apply(lambda x: cleaning(x))

In [19]:
df["Job.Description"][0:5]

64119    job summari knowledg univers ku site director ...
35827    ref id 03110118480classif secretaryadmin asstc...
72100    yoursquor energet motiv hardwork look prosper ...
46355    outsid wholesal sale rep job respons sale repr...
34166    captioncal commun assist imagin life without t...
Name: Job.Description, dtype: object

In [23]:
df["new_col"] = df["Title"] + " " + df["Job.Description"]

In [24]:
df.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At,new_col
64119,294845,2,open,lake-forest-il-knowledge-universe-site-director,site director knowledg univers,Site Director,Knowledge Universe,Lake Forest,Illinois,IL,...,job summari knowledg univers ku site director ...,NaN,NaN,30-03-2015,29-04-2015,Part-Time,Not Specified,2015-03-31 10:13:55 UTC,2015-03-31 10:13:55 UTC,site director knowledg univers job summari kno...
35827,265365,2,open,reno-nv-officeteam-administrative-assistant-26...,administr assist officeteam,Administrative Assistant,OfficeTeam,Reno,Nevada,NV,...,ref id 03110118480classif secretaryadmin asstc...,NaN,NaN,09-03-2015,08-04-2015,Seasonal/Temp,Not Specified,2015-03-10 10:08:36 UTC,2015-03-10 10:08:36 UTC,administr assist officeteam ref id 03110118480...
72100,305868,2,open,chi-payment-systems-account-manager-305868,account manag chi payment system,Account Manager,CHI Payment Systems,NaN,NaN,NaN,...,yoursquor energet motiv hardwork look prosper ...,NaN,NaN,06-04-2015,05-05-2015,Full-Time/Part-Time,High School Diploma,2015-04-07 10:23:20 UTC,2015-04-07 10:23:20 UTC,account manag chi payment system yoursquor ene...
46355,275898,2,open,aurora-il-river-front-chrysler-jeep-dodge-outs...,outsid wholesal sale rep parttim river front c...,Outside Wholesale Sales Rep (PART-TIME),River Front Chrysler Jeep Dodge,Aurora,Illinois,IL,...,outsid wholesal sale rep job respons sale repr...,NaN,NaN,16-03-2015,15-04-2015,Part-Time,Not Specified,2015-03-17 10:19:53 UTC,2015-03-17 10:19:53 UTC,outsid wholesal sale rep parttim river front c...
34166,263702,2,open,salt-lake-city-ut-captioncall-customer-service...,custom servic rep help peopl hear loss captioncal,Customer Service Rep- Help People with Hearing...,CaptionCall,Salt Lake City,Utah,UT,...,captioncal commun assist imagin life without t...,NaN,NaN,06-03-2015,05-04-2015,Full-Time/Part-Time,Not Specified,2015-03-07 10:18:08 UTC,2015-03-07 10:18:08 UTC,custom servic rep help peopl hear loss caption...

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
tfif = TfidfVectorizer()
matrix = tfif.fit_transform(df["new_col"])
similarity = cosine_similarity(matrix)

In [28]:
similarity

array([[1.        , 0.04042416, 0.02576343, ..., 0.05812964, 0.02553415,
        0.08439494],
       [0.04042416, 1.        , 0.02654662, ..., 0.03218989, 0.00516898,
        0.02355336],
       [0.02576343, 0.02654662, 1.        , ..., 0.05830838, 0.0315759 ,
        0.039024  ],
       ...,
       [0.05812964, 0.03218989, 0.05830838, ..., 1.        , 0.06389263,
        0.11540342],
       [0.02553415, 0.00516898, 0.0315759 , ..., 0.06389263, 1.        ,
        0.38481043],
       [0.08439494, 0.02355336, 0.039024  , ..., 0.11540342, 0.38481043,
        1.        ]])

In [41]:
def recommendation(title):
    idx = df[df['Title'] == title].index[0]
    idx = df.index.get_loc(idx)
    distances = sorted(list(enumerate(similarity[idx])),key=lambda x:x[1], reverse=True)[1:20]
    
    jobs = []
    for i in distances:
        jobs.append(df.iloc[i[0]].Title)
    return jobs

In [42]:
 recommendation('site director knowledg univers')

['site director knowledg univers educ llc',
 'teacher knowledg univers',
 'assist teacher knowledg univers',
 'assist teacher knowledg univers',
 'cook knowledg univers',
 'immedi open assist teacher la petit academi',
 'summer school age assist children courtyard',
 'hvac instructor vatterott educ center',
 'temporari coordin site oper macyscom maci',
 'medic offic assist instructor concord career colleg inc',
 'fellowship program coordin connecticut children medic center',
 'pharmaci adjunct instructor brown macki colleg',
 'design bed sell specialist full timepart time bloomingdal mall short hill nj maci',
 'handbag sell specialist part time bloomingdal chevi chase md bloomingdal',
 'men design sell specialist full timepart time bloomingdal newport beach ca bloomingdal',
 'youth camp residenti assist activ coordin new york ny el educ servic',
 'women shoe sale profession part time bloomingdal 59th street nyc maci',
 'secur offic 100000 job coalit securita usa',
 'secur offic regular securita usa']

In [43]:
import pickle
pickle.dump(df,open('df.pkl', 'wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))